DATABASE_URL=""
RABBITMQ_URL=""
RABBITMQ_QUEUE=""
GEMINI_API_KEY=""
RESEND_API_KEY=""
SLACK_WEBHOOK_URL=""
BACKEND_URL=""
SELF_URL=https://project-atlas-worker.onrender.com
NODE_ENV=production
INTERNAL_SERVICE_SECRET=""